---
import Container from './Container.astro'

interface Props {
	columns: string
}
---

<Container>
	<div
		class="grid"
		style={{ '--gridColumnCount': Astro.props.columns }}
	>
		<slot />
	</div>
</Container>

<style>
	.grid {
		display: grid;
		margin-block-start: 3em;
		margin-block-end: 3em;
		grid-template-columns: repeat(var(--gridColumnCount), minmax(0, 1fr));
		gap: calc(1px * var(--sizeColumnGap));
	}
</style>
