@font-face {
	font-family: 'Inter Display';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/interdisplay-semibold.woff2') format('woff2'),
		url('/fonts/interdisplay-semibold.woff') format('woff');
}

@font-face {
	font-family: 'Inter Display';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/interdisplay-regular.woff2') format('woff2'),
		url('/fonts/interdisplay-regular.woff') format('woff');
}

:root {
	--fontInterDisplayCropStart: 1;
	--fontInterDisplayCropEnd: 1.35;
}

.Text {
	--TextDefaultLineHeight: 1.4;
	display: block;
	font-family: 'Inter Display', sans-serif;

	&::before,
	&::after {
		content: '';
		display: block;
		block-size: 0;
		inline-size: 0;
	}

	&::before {
		margin-block-start: calc(
			(
					var(--fontInterDisplayCropStart) -
						var(--TextLineHeight, var(--TextDefaultLineHeight))
				) * 0.5em
		);
	}

	&::after {
		margin-block-end: calc(
			(
					var(--fontInterDisplayCropEnd) -
						var(--TextLineHeight, var(--TextDefaultLineHeight))
				) * 0.5em
		);
	}
}

.Link {
	color: inherit;
	text-decoration: inherit;
	-webkit-tap-highlight-color: transparent;
}

.Header {
	position: fixed;
	padding: 20px;
}

.Header-nav {
	display: flex;
	margin: -10px;
}

.Header-link {
	padding: 10px;
}
